<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sudoku-Solver</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Sudoku Solver</h1>
<h1 style="color: red" th:if="${message!=null}" th:text="${message}"></h1>
<form method="post" th:action="@{/}" th:if="${solvedsudoku==null}" th:object="${sudoku}">
    <table>
        <tr th:each="row, rowStat: *{array}">
            <td th:class="${sectionSplitter.assignCellToSection(rowStat.index,colStat.index,size)}"
                th:each="col, colStat: ${row}">
                <label>
                    <select th:class="${sectionSplitter.assignCellToSection(rowStat.index,colStat.index,size)}"
                            th:field="*{array[__${rowStat.index}__][__${colStat.index}__]}"
                            th:value="*{array[__${rowStat.index}__][__${colStat.index}__]}">
                        <option th:label="null" th:value="null"></option>
                        <option th:each="lenth, lenthStat : *{array}" th:label="${lenthStat.count}"
                                th:value="${lenthStat.count}"></option>
                    </select>
                </label>
            </td>
        </tr>
    </table>
    <input type="submit" value="SOLVE!">
</form>
<table th:if="${solvedsudoku!=null}">
    <tr th:each="row, rowStat: ${solvedsudoku}">
        <td th:class="${sectionSplitter.assignCellToSection(rowStat.index,colStat.index,3)}"
            th:each="cell, colStat: ${row}">
            <p th:text="${cell}"></p>
        </td>
    </tr>
</table>
</body>
</html>